<div    ng-click="addPlaceButtonClicked(btn)"
        style="cursor: pointer;
            border: 2px dashed rgb(199, 199, 199);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            opacity: 0.7; padding: 10px 50px;
            font-family: ProximaNova;
            color: gray ;
            word-spacing: 1px;
            position: absolute;
            top: {{btn.top}}px; left: {{btn.left}}px;
            background-color: rgb(245, 245, 245);" class="forRecommendation showSuggestionButton">
    <div style="display:inline-block;font-size:20px;margin-right: 5px;">+</div>
    ADD A PLACE
</div>
