<div class="container">
    <div class="row">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" style="background-color: rgba(50,50,50,0.6);">

            <div class="modal-dialog" style="margin-top: 200px;">
                <div style="background-color: rgba(255,255,255,0.3);padding: 10px 10px 10px 10px;border-radius: 10px;">
                    <div class="modal-content">

                        <div class="modal-header">
                            <a ng-click="hideAddPlaceModal()"
                                    class="btn btn-default" data-dismiss="modal"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                            <h4 class="modal-title" id="myModalLabel">Add New Attraction</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Enter Name</h4>

                            <input id="addPlaceInputField" style="
                            width: 47%;
                            margin-right: 2%;
                            font-family: ProximaNova;
                            padding: 7px 7px 5px 11px;
                            height: 100%;
                            "
                                   ng-model="placeName"
                                   type="text" name="place"
                                   class="form-control"
                                   placeholder="Enter Place Name"
                                   typeahead="place.name for place in places | filter:$viewValue | limitTo:7"
                                   typeahead-editable = "'false'"
                                   typeahead-template-url="/public/angular/templates/attraction-type-ahead.html"
                                   value="{{placeName.name}}"
                                   autocomplete="OFF"/>
                        </div>
                        <img ng-show="isInvalid" src="/public/images/icon-error.png" style="position: absolute;top: 113px;left: 283px;" width="20px">
                        <div class="modal-footer">
                            <div class="btn-group">
                                <button class="btn btn-danger" data-dismiss="modal" ng-click="hideAddPlaceModal()">Cancel</button>
                                <button class="btn btn-primary" ng-click="addPlaceToPlanner()">Add Place</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

