<div  class="cardClass card pickable small" style="top: {{attraction.top}}px; height: {{attraction.height}}px;">
    <div class="cardClass cardContent pickHandle" style="height: {{attraction.height - 10}}px;">
        <div id="deleteButton" class="delete cardDeleteBtn"></div>
        <div id="cardDraggable" style="height: 120px" class="cardClass cardImg imgColumn">
            <img draggable="false" id="cardDraggable_child" width="150px" class="cardClass cardImage" src={{attraction.image}}>
        </div>
        <div id="cardDraggable" class="cardClass textColumn">
            <span id="cardDraggable_child" class="cardClass title"> {{attraction.name}}</span>
            <div id="cardDraggable_child" class="cardClass type">
                {{attraction.type}}
            </div>
        </div>
    </div>
    <div id="resizeHandle" class="cardClass resizeHandle"></div>
</div>
