<div style="width: 200px;height: 50px" class="attrTypeAh">
    <div class="row">
        {{match.model.name}}
    </div>
    <div class="row" style="font-weight: bold; font-size: 10px;">
        {{match.model.category}}
    </div>
</div>