<div ng-repeat="category in categories" class="categorySelect row" ng-click="selectCategory($index)">
    <div class="col-md-1" style="padding: 2px 0px 0px 1px;">
        <div style="
           height: 13px;
            width: 12px;
            padding: 0px 0px 0px 0px;
            border: 1px solid #7f7f7f;
            background-image: {{getImageForIndex($index)}};
            background-repeat: no-repeat;">
        </div>
    </div>
    <div class=" col-md-9" style="padding: 1px 0px 0px 6px;">
        {{category}}
    </div>
</div>
