<form name="cityNameForm" ng-submit="getCityDetails(cityName,days )"
      ng-controller="TypeaheadCtrl">
    <div class="col-md-1" style="padding: 5px 0px 0px 13px;height: 100%;margin-left: 1%;">
        <a href="/"> <img width="100%" src="/public/images/trip.jpg"></a>
    </div>
    <div class="col-md-3" style="padding-right: 0;padding-left: 10px;height: 37px;margin-left: 1.4%;">
        <input id="cityInputField"
               style="width: 47%; margin-right: 2%; font-family: ProximaNova; padding: 4px 4px 1px 11px;height: 100%;"
               ng-model="cityName"
               type="text" name="city"
               class="form-control"
               placeholder="Enter City"
               typeahead="state for state in states | filter:$viewValue | limitTo:8"
               autocomplete="OFF"/>
        <input id="dayInputField"
               style="width: 47%; margin-right: 2%; font-family: ProximaNova; padding: 4px 4px 1px 11px;height: 100%;"
               ng-model="days"
               type="text"
               name="days"
               class="form-control"
               placeholder="Trip Length"/>
    </div>
    <div class="col-md-1" style="padding: 1px 2px 1px 0px;height: 37px">
        <input style="height: 100%; width: 50%; font-family: ProximaNova;background-color: #df691a;color: #ffffff;border-radius: 0;border: 0;"
               type="submit"
               value="Go"
               class="btn btn-primary"/>
    </div>
    <div style="float: right;margin-right: 12px;">
        <input  ng-if="showApplyButton"
                style="height: 37px; width: 95px; font-family: ProximaNova;background-color: #5ba829;color: #ffffff;border-radius: 0;border: 0;right: 214px;top: 10px;position: absolute;" type="submit" value="Apply" class="btn btn-primary">
        <div    ng-click="toggleCategoryMenu()"
                style="background-color: white;height: 37px;width: 193px;padding: 9px 0px 0px 10px;border: 1px solid darkgray;cursor: pointer;">
            Category
            <div id="arrowElement" style="background-image: url(public/images/arrow.png);width: 20px;height: 20px;position: absolute;top: 18px;right: 21px;-webkit-transform: rotate(180deg);">
            </div>
        </div>

        <div ng-show="showCategoryMenu"
             style="width: 198px;height: 179px;background-color: rgba(200,200,200,0.5);position: absolute;top: 49px;right: 10px;padding: 0px 4px 0px 4px;border-radius: 0px 0px 5px 5px;font-family: ProximaNova;z-index: -1;"
             ng-include="'/public/angular/templates/category-select.html'">
             </div>
    </div>
</form>

