<div style=" border-radius: 3px;">
    <div style="max-height: 240px; max-width: 320px;
                padding: 8px 7px 8px 6px;
                overflow: hidden;">
        <img style="max-width: 100%; max-height: 100%;box-shadow:2px 2px 10px lightgray;" src="{{parameter.imageUrl}}">
    </div>
    <div style="margin-top: 5px;font-family: ProximaNova; font-size: 16px;background-color: #3D8ECE;color: white;padding: 3px 3px 2px 12px;">{{parameter.title}}</div>
    <div style="margin-bottom: 3px;font-family: ProximaNova; font-size: 12px;padding: 3px 7px 2px 9px;background-color: #FACB60;color: black;margin: 0px 0px 0px 7px;">{{parameter.category}}</div>
</div>