<div ng-repeat="day in CITY"  id="{{$index}}_day">
    <h4 id="HEADER_{{$index}}" class="well day_bar" ng-click="isCollapsed = !isCollapsed">
        {{day.day}}
        <i class="pull-right glyphicon"
            ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}">
            </i></h4>
    <div collapse="isCollapsed" ng-repeat="attraction in day.destinationList">
        <div class="well dest_bar" id="ATTR_{{$parent.$index}}_{{$index}}">{{attraction.name}}</div>
    </div>
</div>
