<div class="container">
    <div class="row">
        <div id="loadingModal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true" style="background-color: rgba(50,50,50,0.6);">
            <div class="modal-dialog" style="margin-top: 200px;">
                <div class="modal-content" style="background-color:rgba(255,255,255,0.3); ">
                    <div class="modal-body">
                        <button class="btn btn-lg btn-alert" style="width: 100%;"><span
                                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                            Loading attraction Details...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>