<div class="content planner-container" planid=""
     style="min-width: 768px; position: relative; height: 100%; overflow:hidden;margin-left:0%;">
    <div class="box-container" style="height: 100%;">

        <div ng-click="insertDay(-1);" class="insertDayButton" title="Add day" style="top: 31px; left: 23px; z-index:1">
            <div style="float:left;text-align:center;border-radius: 20px;border: 1px solid #555;padding: 0 5px;text-align: center;margin: 0 0 0 11px;font-size: 25px;line-height: 25px;">
                +
            </div>
            <div style="float:left;text-align:center;font-family: 'Josefin Slab', serif;font-size: 10px;color: #999;line-height: 22px;width: 50px">
                ADD DAY
            </div>
        </div>
        <div class="plannerContainer"
             style="width:auto; padding-left:50px;position:relative;background-color: #EEE;height: 100%;">

            <div class="planner arena" id="plannerMainArea">
                <div class="fatherOfTimeline">

                    <div class="timeline" style="position: relative; top: 0;">
                        <div ng-repeat="timex in timeString" class="timeSeparators">{{timex}}</div>
                    </div>
                </div>

                <div class="innerContainer" style="position: relative; width: 2244px;">
                    <div class="fatherOfDayHeader" style="left: 400px;">
                        <div class="readOnlyViewTranslucentDiv"
                             style="position: absolute; background-color: rgba(255, 255, 255, 0.4); top: 0px; left: 0px; z-index: 2; height: 1300px; width: 2992px;display:none"></div>

                        <div id="dayHeader"
                             style="height: 38px; width: 2309px; position: relative; left: -30px; background-color: transparent;">
                            <div ng-repeat="day in itinerary" class="metaDay" id="dayHead_+{{$index}}"
                                 style="width:271px;position:relative;padding-top:5px;color:white;float:left;margin-right: 80px;font-size:20px;text-transform:uppercase;font-size:20px">
                                <div class="day-bg"><p>Day {{$index + 1}}</p></div>
                                <div class="tip-bottom insertDayButton" ng-click="insertDay($index);"
                                     data-placement="bottom" data-toggle="tooltip" data-original-title="Add Day"
                                     title="Add day">
                                    <div style="float: left;text-align:center;border-radius: 20px;border: 1px solid #555;padding: 0 5px;text-align: center;margin: 0 0 0 12px;font-size: 25px;line-height: 25px;left: 24px;">
                                        +
                                    </div>

                                    <div style="float:left;text-align:center;font-family: 'Josefin Slab', serif;font-size: 10px;color: #999;line-height: 22px;width: 50px;">
                                        ADD DAY
                                    </div>
                                </div>
                                <div class="day-remove" ng-click="removeDay($index);" data-toggle="tooltip"
                                     data-placement="bottom" title="Remove Day">
                                    <img class="deleteProxyButton tip-bottom"
                                         src="http://www.mygola.com/static/images/trash-delete.png"
                                         data-placement="bottom" data-toggle="tooltip"
                                         data-original-title="Tooltip on bottom">
                                </div>
                                <div class="c2c-icon tooltipable c2c-hidden"
                                     style="background-image: url(&quot;http://www.mygola.com/static/images/planner/transport2.png&quot;);background-size: 25px;background-repeat: no-repeat;margin: 11px 0px 0px 6px;height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="readOnlyViewTranslucentDiv" style="position: absolute;
                                                                                           background-color: rgba(255, 255, 255, 0.4);
                                                                                           top: 0px; left: 0px;
                                                                                           z-index: 2; height: 1300px;
                                                                                           width: 2992px;
                                                                                           background-position: initial initial;
                                                                                           background-repeat: initial initial;
                                                                                           display:none;"></div>

                    <div ng-repeat="day in itinerary" id="{{$index}}" class="day dropArea">
                        <div ng-repeat="attraction in day">
                            <div id="{{$index}}" ng-include="'/public/angular/templates/attraction-card.html'"
                                 ng-init="init()"></div>
                        </div>
                    </div>

                    <div ng-repeat="day in addButtons" id="{{$index}}">
                        <div ng-repeat="btn in day" id="{{$index}}"
                             ng-include="'/public/angular/templates/add-attraction.html'">

                        </div>
                    </div>

                    <div ng-include="'public/angular/templates/loading-modal.html'"></div>
                    <div id="modalView" ng-include="'public/angular/templates/add-attraction-modal.html'"></div>

                </div>
                <!-- END OF INNER CONTAINER -->
            </div>
            <div ng-if="backUpItinerary" ng-click="undo()"
                 style="top: 0%; z-index: 1;height: 46px; width: 32px; position: absolute; right: 0;margin-right: 20px;margin-top: 20px;background-color: #EEEEEE;">
                <span class="glyphicon glyphicon-repeat undo_class" style="margin-left: 5px;"></span>
                <br>
                <span class="undo_class" style="align-content: center;font-family: 'PT Sans', sans-serif;">Undo</span>
            </div>
        </div>
    </div>
</div>