
body {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    font-family: Roboto, arial,
    sans-serif;
    background-color: rgb(224, 224, 224);
}
.btn, .form-control, .panel, .list-group, .well { border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; box-shadow: 0px 0px 0px; }
.well, .panel { border-color: rgb(210, 210, 210); box-shadow: rgb(207, 207, 207) 0px 1px 0px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
hr { border-color: rgb(236, 236, 236); }
button { outline: 0px; }
textarea { resize: none; outline: 0px; }
.panel .btn i, .btn span { color: rgb(102, 102, 102); }
.panel .panel-heading { font-weight: 700; font-size: 16px; color: rgb(38, 38, 38); border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
.panel .panel-heading a { font-weight: 400; font-size: 11px; }
.panel .panel-default { border-color: rgb(204, 204, 204); }
.panel .panel-thumbnail { padding: 0px; }
.panel .img-circle { width: 50px; height: 50px; }
h3, h4, h5 { border-width: 0px 0px 1px; border-style: solid; border-color: rgb(239, 239, 239); padding-bottom: 10px; }