@font-face {
    font-family: "ProximaNova";
    src: url('/public/fonts/ProximaNovaRegular.otf');
}


html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ProximaNova;
}

html, body, #map_canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.undo_class {
    color: #FF8250;
}

.undo_class :hover{
    color: #1C631B;
}

.angular-google-map-container {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.angular-google-map-container{

}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    float: right;
    display: inline-block;
    margin-left: 2px;
    margin-top: 8px;
    vertical-align: middle;
}