html,body {
  height:100%;
}
h1 {
  font-family: Arial,sans-serif;
  font-size: 60px;
  color:#FFEEEE;
}

.lead {
	color:#FFEEEE;
    font-size: 40px;
}

input.form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

button.btn {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: 6px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
    margin: 6px 6px 6px 0px;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 12px 18px;
    font-size: 15px;
    line-height: 1.33;
}

.input-lg, .form-horizontal .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.33;
    border-radius: 6px;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  /*background-image: url(../images/background.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.dropdown-menu{

}

.cityTypeAh{
    width: 500px;
    height: 50px;
    padding: 7px 0px 0px 10px;
    font: ProximaNova;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: linear;
    color: #3a3a3a;
}

.cityTypeAh:hover{
    background-color: #585858;
    color: #f4f4f4;
}

.categorySelect{
    height: 25px;
    padding: 4px 0px 0px 7px;
    font-size: 12px;
    background-color: #fffff9;
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: linear;
}

.categorySelect:hover{
    background-color: beige;
}

.attrTypeAh{
    width: 200px;
    height: 50px;
    padding: 7px 0px 0px 10px;
    font: ProximaNova;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: linear;
}

.attrTypeAh:hover{
    background-color: #585858;
    color: #f4f4f4;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}


/* page 2 */


.resultTable{
    overflow-y: auto;
}

div.search {
    position: relative;
    background: #DADECD;
    height: 57px;
    width: 100%;
    padding: 10px 0px 0px 0px;
    vertical-align: middle;
    z-index: 2;
    box-shadow: 1px 1px 2px #888888 ;
}

div.nopadding {
    padding: 0px;
}

div.searchresults {
    height: 90%;
    margin: 1%;
    float: left;
}

div.map-position {
    height: 90%;
    width: 70%;
    margin: 0px;
    float: left;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.destlist{
    position: relative;
    box-shadow: 1px 1px 2px #888888 ;
    z-index: 1;

}

.baseDestList{
    box-shadow: 1px 1px 2px #888888 ;
    z-index: 1;
}

.day_bar{
    margin: 0px;
    padding: 15px;
    border-top: 0px;
    cursor: pointer;
}

.day_bar:hover{
    background-color: #efefef;
}

.well{
    border-radius: 0px;
    border: 0px;
    font-family: ProximaNova;
}
.dest_bar{
    margin: 0px;
    background-color: #FFFFFF;
    border-top: 0px;
}
.dest_bar:hover{
    background-color: #FFF9F9;
}

.glyphicon{
    font-size: 0.9em;
    /*-moz-transform: scaleX(-1);    *//* Gecko */
    /*-o-transform: scaleX(-1);      *//* Operah */
    /*-webkit-transform: scaleX(-1); *//* webkit */
    /*transform: scaleX(-1);         *//* standard */
    /*filter: FlipH;                 *//* IE 6/7/8 */
    font-weight: 100;
}

.angucomplete-holder {
    position: relative;
    margin-left: 4px;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    /*border-radius: 2px;*/
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    text-align: left;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -2px;
    /*border-left: 2px;*/
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.panel .btn i, .btn span { color: rgb(102, 102, 102); }
.panel .panel-heading { font-weight: 700; font-size: 16px; color: rgb(38, 38, 38); border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
.panel .panel-heading a { font-weight: 400; font-size: 11px; }
.panel .panel-default { border-color: rgb(204, 204, 204); }
.panel .panel-thumbnail { padding: 0px; }
.panel .img-circle { width: 50px; height: 50px; }

.plannerButton {
    background-color: #CA2C28;
    height: 45px;
    padding: 12px 12px 12px 12px;
    align-content: center;
    cursor: pointer;
}

.plannerButton:hover {
    background-color: #9e0002;
}

.mapButton {
    background-color: #428bca;
    height: 45px;
    padding: 12px 12px 12px 12px;
    align-content: center;
    cursor: pointer;
}

.mapButton:hover {
    background-color: #105bae;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}



.modal .modal-header {
    border-bottom: none;
    position: relative;
    background-color: beige;
    border-radius: 8px 8px 0px 0px;
}
.modal .modal-header .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px 7px 0px 0px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

}
.modal .modal-footer {
    border-top: none;
    padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
    border-bottom-left-radius: 0;
    border-radius: 8px 0px 0px 0px;
    margin-right: 6px;
}
.modal .modal-footer .btn-group > .btn:last-child {
    border-top-right-radius: 0;
    border-radius: 0px 0px 8px 0px;
    margin: 0px 8px 8px 0px;
}

.modal-content {
    -webkit-box-shadow:0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    border: 0px none rgba(0,0,0,0);
}

.SaveButton{
    background-color: #428bca;
    height: 45px;
    width: 100%;
    padding: 12px 12px 12px 12px;
    align-content: center;
    cursor: pointer;
    
}

.itinerary{
-webkit-box-shadow: 0 0 5px 2px #888888;
    -moz-box-shadow: 0 0 5px 2px #888888;
    box-shadow: 0 0 5px 2px #888888;
    margin-top: 10px;
    background-color: #e8e8e8;
    margin-bottom: 10px;
}

.final_day{
    text-align: center;
    background-color: #323232;
    color: #f7edc4;
    height: 30px;
    padding-top: 5px;
}

.final_list{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 3em;
    font-size: 1.2em ;
}

.print{
    margin-top: 10px;
    padding: 8px 15px 8px 15px;
    float: right;
}

.copy_url{
    margin-top: 10px;
    padding: 8px 15px 8px 15px;
    float: right;
    margin-right: 20px;
}