#{extends 'main.html' /}
#{set title:'Drag And Drop Test' /}
<head>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/ws_hybrid_css.css'}">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".tip-bottom").tooltip({placement : 'bottom'});
        });
    </script>
</head>
<body>

<planner-view ng-controller="plannerController"></planner-view>


</body>
</html>