#{extends 'main.html' /}
#{set title:'Enter City' /}
<head>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/ws_hybrid_css.css'}">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <script type='text/javascript'>
        $(function () {
            var topBarHeight = 57;
            var saveButtonHeight = 45;
            var mapPlannerButtonHeight = 45;
            if($(window).width() <= 1440){
                $("#leftPanel").attr('class', 'col-md-3 destlist nopadding');
                $("#rightContent").attr('class', 'col-md-9');
            }
            else
            {
                $("#leftPanel").attr('class', 'col-md-2 destlist nopadding');
                $("#rightContent").attr('class', 'col-md-10');
            }
            $('.sm').css({'height': (($(window).height()) - topBarHeight) + 'px'});
            $('.resultTable').css({'height': (($(window).height()) - topBarHeight - mapPlannerButtonHeight -saveButtonHeight) + 'px'});
            $('.angular-google-map-container').css({'height': 100+'%' });

            $(window).resize(function () {
                if($(window).width() <= 1440){

                    $("#leftPanel").toggleClass('col-md-2', false);
                    $("#leftPanel").toggleClass('col-md-3', true);

                    $("#rightContent").toggleClass('col-md-10', false);
                    $("#rightContent").toggleClass('col-md-9', true);


                }
                else
                {

                    $("#leftPanel").toggleClass('col-md-2', true);
                    $("#leftPanel").toggleClass('col-md-3', false);

                    $("#rightContent").toggleClass('col-md-10', true);
                    $("#rightContent").toggleClass('col-md-9', false);

                }
                $('body').css({'height': (($(window).height())) + 'px'});
                $('.sm').css({'height': (($(window).height()) - topBarHeight) + 'px'});
                $('.resultTable').css({'height': (($(window).height()) - topBarHeight - mapPlannerButtonHeight - saveButtonHeight) + 'px'});
                $('.angular-google-map-container').css({'height': 100 + '%' });
                $("#plannerMainArea.planner.arena").css({'height': (($(window).height()) - 75 - topBarHeight) + 'px'});
                $('.fatherOfTimeline').css(
                        {
                            'height': (($(window).height()) - 75 - topBarHeight - 13) + 'px'
                        }
                );


            });
        });
    </script>
</head>
<body style="overflow: hidden;">


<div class="container-fluid nopadding">
    <div ng-controller="cityFormController">
        <div ng-if="showSavingButton" style="position: absolute;height: 100%;z-index: 100;width: 100%;background-color: rgba(220,220,220,0.6);">
            <div class="container" style="height: 100%;padding: 15% 0 0 29%;">
                <button class="btn btn-lg btn-success">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving...</button>
            </div>
        </div>
        <div class="row form-inline search">
            <city-form></city-form>
        </div>
        <div>
            <div class="row sm">
                <div id="leftPanel" class="" style="height: 100%">

                    <div class="row">
                        <div class="col-md-6" style="padding-left: 0;padding-right: 0;">
                            <div class="mapButton" ng-click="setMap()">
                                <div style="; width: 23px; height: 23px;margin-left: 10%;cursor: pointer;cursor: pointer;">
                                    <img src="/public/images/map_button.png" style="height: 100%; width: 100%;">
                                </div>
                                <div style="float: left;position: absolute;top: 12px;left: 45%;font-size: 18px;font-family: ProximaNova;color: white;font-weight: lighter;cursor: pointer;">
                                    Map
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 0;padding-right: 0;">
                            <div class="plannerButton" ng-click="setPlanner()">
                                <div style=" width: 23px; height: 23px;margin-left: 10%;cursor: pointer;">
                                    <img src="/public/images/planner_icon.png" style="height: 100%; width: 100%;">
                                </div>
                                <div style="float: left;position: absolute;top: 12px;left: 39%;font-size: 18px;font-family: ProximaNova;color: white;font-weight: lighter;cursor: pointer;">
                                    Planner
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row resultTable">
                        <div class="baseDestList" ng-if="data" style="width: 100%; height: 100%;">
                            <itinerary-result></itinerary-result>
                        </div>
                    </div>
                    <div class="row SaveButton" style="background-color: #B5C973;" ng-click="saveTrip()">
                        <div style=" width: 23px; height: 23px; margin-left: 22%;cursor: pointer;">
                            <img src="/public/images/save.png" style="height: 100%; width: 100%;">
                        </div>
                        <div style="
                                float: left;
                                position: absolute;
                                bottom: 0px;
                                left: 34%;
                                height: 45px;
                                width: 100%;
                                padding: 12px 12px 12px 12px;
                                align-content: center;
                                cursor: pointer;
                                font-family: ProximaNova;
                                color: white;
                                font-size: 18px;
                                ">
                            SAVE TRIP
                        </div>
                    </div>
                </div>

                <div id="rightContent" class="col-md-10" style="height: 100%;padding: 0 0 0 0;" ng-controller="mapCtrl">
                    <div ng-if="data && !showLoading" style="width: 100%; height: 100%;">
                        <div ng-if="showMap" style="width: 100%; height: 100%;">
                            <google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                                <markers models="markers" coords="'coords'" click="clicked" options="'options'"
                                         isLabel='true' fit='true' events='markersEvents'>
                                    <windows show="'show'" templateUrl="'templateURL'"
                                             templateParameter="'templateParam'" options="templateOption">
                                        {{title}}

                                    </windows>
                                </markers>
                            </google-map>
                        </div>
                        <div ng-show="showPlanner" style="width: 100%; height: 100%;">
                            <div class="container-fluid" style="width: 100%; height: 100%;padding: 0 0 0 0;">
                                <planner-view ng-controller="plannerController"></planner-view>
                            </div>
                        </div>
                    </div>
                    <div ng-if="showLoading" style="height: 100%;">
                        <div class="container" style="height: 100%;padding: 20% 0 0% 33%;">
                            <button class="btn btn-lg btn-success">
                                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<br>
</body>
</html>