#{extends 'main.html' /}
#{set title:'Enter City' /}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="overflow: scroll;">
<div class="container itinerary">
    <div ng-controller="finalPageController">
<div class="row">
    <input type="button"
           class = "btn btn-primary print"
           onClick="window.print()"
           value="Print"/>
    <input type="button"
           class = "btn btn-primary copy_url"
           ng-click="copyUrlToClipBoard()"
           value="Copy URL"/>
</div>

<div ng-repeat="day in CITY"> <!-- ng-repeat comes here -->
    <div class="row">
    <h4 class="final_day">
        {{day.day}}
    </h4>
    <div class="col-md-5 final_list">
        <div ng-repeat="attraction in day.destinationList">
            <div class="row">
                <div class = "col-md-3" style="color:darkkhaki">{{secondToHour(attraction.startTime)}} hrs</div>
                <div class = "col-md-9" style="font-weight: bold">{{attraction.name }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-7" style="text-align: center">

        <img style="height: 300px" ng-src="{{day.destinationList[0].imageUrl}}"/>

    </div>
    </div>
</div>
</div>
</div>

</body>
</html>