<!DOCTYPE html>
<html ng-app="testApp" style="overflow: hidden;">
<head lang="en">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="@{'/public/javascripts/angular.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/lodash.js'}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDsqTnA6BE0n3mrKOZGrwPIRHhu2yhXhz4&sensor=false"></script>
    <script type="text/javascript" src="@{'/public/javascripts/angular-google-maps.min.js'}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}"/>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles.css'}">

    <script type="text/javascript" src="@{'/public/javascripts/controllers.js'}"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles.css'}">
    <meta charset="UTF-8">
    <title>Home</title>
    <script>
    </script>
</head>

<body>

<div class="container-full" ng-controller="TypeaheadCtrl" ng-init="init()">
    <div class="row">

        <div class="col-lg-12 text-center v-center">
            <h1 style="font-family: ProximaNova">Welcome to trip++</h1>
            <p class="lead" style="font-family: ProximaNova">Making travel easier </p>
            <br><br>
            <div class="form-horizontal">

                <form class="col-lg-18" method="get">
                    <div style="width:500px;text-align:center;margin:0 auto;" >
                        <div style="height: 130px;width: 530px;background: rgba(255,255,255,0.3);padding: 15px;border-radius: 8px;">
                            <div style="width: 500px;height: 101px;">
                                <div>
                                    <input name="city" class="form-control input-lg ng-pristine ng-valid"
                                           placeholder="Enter city" type="text" ng-model="selected"
                                           typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                           id="tags" autocomplete="off"
                                           style="border: 0px solid black;margin-bottom: 10px;
                                           font-family: ProximaNova; font-style: normal" aria-autocomplete="list"
                                           aria-expanded="false"
                                           aria-owns="typeahead-003-6516"
                                           typeahead-template-url="/public/angular/templates/city-type-ahead.html"><!-- ngIf: isOpen() -->
                                </div>
                                <div class="input-group form-inline">
                                    <div class="dropdown" style="width: 100%; height: 100%; text-align: left;border-radius: 3px; ">
                                        <button style="font-family: ProximaNova; width: 99%; height: 45px; text-align: left;border: 0 solid transparent ;
                                                border-top-color: lightgray;border-top-style: solid;border-top-width: 1px;
                                                padding-left: 18px; font-size: 14px; background-color: white;
                                                font-weight: bold; border-radius: 3px;"
                                                class="btn btn-default dropdown-toggle ng-binding" type="button"
                                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            {{dayString}}
                                            <span class="caret" style="float:right; margin-top: 8px"></span>
                                        </button>
                                        <ul style="font-family: ProximaNova;" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a ng-click="setDay(1)" href="#">1 Day Trip</a></li>
                                            <li role="presentation"><a ng-click="setDay(2)" href="#">2 Days Trip</a>
                                            </li>
                                            <li role="presentation"><a ng-click="setDay(3)" href="#">3 Days Trip</a>
                                            </li>
                                            <li role="presentation"><a ng-click="setDay(4)" href="#">4 Days Trip</a>
                                            </li>
                                            <li role="presentation"><a ng-click="setDay(5)" href="#">5 Days Trip</a>
                                            </li>
                                        </ul>
                                    </div>

                        <span class="input-group-btn">
                            <input ng-click="enterCityPage()"
                                   style="width: 150px;border: 0 solid transparent; height: 45px;
                                   border-radius: 3px;"
                                   class=" btn btn-lg btn-primary" type="submit" value="Get Started">
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


</body>


</html>