#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Welcome to ${city}</h1>

<p>Places to visit</p>
<ul>#{list destinations, as:'destination'}
<li>${destination.name}</li>
#{/list}
</ul>
<br>
<a href="@{Application.enterCity()}">Back to itineraryBuilder</a>